<h1>Selamat datang di aplikasi Jimpitan, <%= current_user.email %>!</h1>

<% if current_user.is_new %>
  <div class="mt-4">
    <p>Untuk memulainya, daftarkan desa tempat tinggal anda. Setelah itu, anda akan menjadi pengelola desa
      tersebut.</p>
  </div>
  <div class="mt-4">
    <%= form_with model: @village do |form| %>
      <div>
        <%= form.label :name, "Nama desa" %>
        <%= form.text_field :name, class: 'mt-3' %>
      </div>
      <%= form.submit 'Buat desa baru', class: 'mt-3' %>
    <% end %>
  </div>
  <div class="mt-4">
    <p>Atau cari desa yang sudah ada untuk menjadi anggota ronda.</p>
  </div>
  <div class="mt-4">
    <%= form_with model: @village do |form| %>
      <div>
        <%= form.label :name, "Nama desa" %>
        <%= form.text_field :name, class: 'mt-3' %>
      </div>
      <%= form.submit 'Cari desa', class: 'mt-3' %>
    <% end %>
  </div>
<% elsif current_user.is_manager %>
  <p>Anda mengelola desa:</p>
  <ol>
    <% @current_user.manage_villages.each do |village| %>
      <li><%= village.name %></li>
    <% end %>
  </ol>
  <div class="mt-4">
    <p>Selanjutnya, klik nama desa untuk mengelola jimpitan</p>
  </div>
<% end %>

<%= javascript_pack_tag 'home' %>
