<h1>Selamat datang di aplikasi Jimpitan, <%= current_user.name %>!</h1>

<% if current_user.is_new %>
  <div class="mt-4">
    <p>Untuk memulainya, daftarkan desa tempat tinggal anda. Setelah itu, anda akan menjadi pengelola desa
      tersebut.</p>
  </div>
  <div class="mt-4">
    <%= form_with model: @village do |form| %>
      <div>
        <%= form.label :name, "Nama desa", class: 'block' %>
        <%= form.text_field :name, class: 'mt-3' %>
      </div>
      <%= form.submit 'Buat desa baru', class: 'mt-3' %>
    <% end %>
  </div>
  <div class="mt-4">
    <p>Atau cari desa yang sudah ada untuk menjadi anggota ronda.</p>
  </div>
  <div class="mt-4">
    <%= form_with model: @village do |form| %>
      <div>
        <%= form.label :name, "Nama desa", class: 'block' %>
        <%= form.text_field :name, class: 'mt-3' %>
      </div>
      <%= form.submit 'Cari desa', class: 'mt-3' %>
    <% end %>
  </div>
<% elsif current_user.is_manager %>
  <div class="mt-4">
    <p>Anda mengelola desa: <%= @current_user.manage_village.name %></p>
  </div>
  <div class="mt-4">
    <p>Selanjutnya adalah:</p>
    <ol class="list-decimal">
      <li class="<%= 'line-through' if current_user.manage_village.patrol_members.present? %>">
        Tambahkan anggota ronda
      </li>
      <li class="<%= 'line-through' if current_user.manage_village.village_donations.present? %>">
        Buat jenis sumbangan
      </li>
      <li>Cetak kertas jimpitan</li>
      <li>Download aplikasi jimpitan di playstore (untuk petugas ronda)</li>
    </ol>
  </div>
  <% if current_user.manage_village.ready_to_print %>
    <div class="mt-4">
      <%= link_to "Cetak kertas jimpitan", families_paper_path, class: 'px-4 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700' %>
    </div>
  <% end %>
<% end %>

<%= javascript_pack_tag 'home' %>
