<h1>Selamat datang di aplikasi Jimpitan, <%= current_user.email %>!</h1>

<% if current_user.is_new %>
  <div class="mt-4">
    <p>Untuk memulainya, daftarkan desa tempat tinggal anda. Setelah itu, anda akan menjadi pengelola desa
      tersebut.</p>
  </div>
  <div class="mt-4">
    <%= form_with model: @village do |form| %>
      <div>
        <%= form.label :name, "Nama desa", class: 'block' %>
        <%= form.text_field :name, class: 'mt-3' %>
      </div>
      <%= form.submit 'Buat desa baru', class: 'mt-3' %>
    <% end %>
  </div>
  <div class="mt-4">
    <p>Atau cari desa yang sudah ada untuk menjadi anggota ronda.</p>
  </div>
  <div class="mt-4">
    <%= form_with model: @village do |form| %>
      <div>
        <%= form.label :name, "Nama desa", class: 'block' %>
        <%= form.text_field :name, class: 'mt-3' %>
      </div>
      <%= form.submit 'Cari desa', class: 'mt-3' %>
    <% end %>
  </div>
<% elsif current_user.is_manager %>
  <div class="mt-4">
    <p>Anda mengelola desa: <%= @current_user.manage_village.name %></p>
  </div>
  <div class="mt-4">
    <p>Selanjutnya, tambahkan anggota ronda dan buat jadwal ronda di desa anda</p>
  </div>
  <div class="mt-4">
    <button>Print kertas ronda</button>
  </div>
<% end %>

<%= javascript_pack_tag 'home' %>
